.burlakastudio_realcommenter {
    position: relative;
    font-size: 16px;
    z-index: 1;
	padding: 25px;
    font-family: "HouschkaPro-DemiBold" !important;
}
.bxlhe-editor-toolbar-row{
	display: none;
}
.burlakastudio_realcommenter div {
    position: relative;
    box-sizing: border-box;
    line-height: 1.6em;
}

.burlakastudio_realcommenter ins {
    text-decoration: none;
}

.burlakastudio_realcommenter a {
    text-decoration: none; /* border-bottom: none; */
}

.br_head {
}

.br_head ins {
    color: rgb(126, 126, 126);
    margin-left: 10px;
    font-weight: bold;
}

.br_form {
}


.brf_submit {
    padding: 20px;
    background-color: #ece8e7;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.brf_errors {
    background-color: #dddddd;
    padding: 20px;
    font-style: oblique;
    color: red;
    font-size: 0.85em;
}

.brna_form .brf_submit ins {
    margin-right: 10px;
    display: inline-block;
    width: 34px;
    height: 37px;
    vertical-align: bottom;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    /*background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" version="1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 96 106"> <g fill="rgb(0,61,92)"> <path fill-rule="nonzero" d="M77 78l11-53c4-19-27-25-31-6L44 84c-3 14 16 21 20 4l10-48c1-8-8-9-9-2l-8 37-7-2 7-37c4-16 28-12 24 5L71 90c-5 26-39 16-34-7l13-65c6-29 51-21 45 9L84 80l-7-2z"/> <path d="M12 16h5.72259v29.6729H12z"/> <path d="M0 33.4352v-5.72258418h29.67289334V33.4352z"/> </g> </svg>') no-repeat center center;*/
}

.brna_form .brf_submit ins:before {
    content: '';
    width: 34px;
    height: 37px;
    position: absolute;
    background-color: #62bf7c !important;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 96 106'%3E%3Cg fill='rgb(0,61,92)'%3E%3Cpath fill-rule='nonzero' d='M77 78l11-53c4-19-27-25-31-6L44 84c-3 14 16 21 20 4l10-48c1-8-8-9-9-2l-8 37-7-2 7-37c4-16 28-12 24 5L71 90c-5 26-39 16-34-7l13-65c6-29 51-21 45 9L84 80l-7-2z'/%3E%3Cpath d='M12 16h5.72259v29.6729H12z'/%3E%3Cpath d='M0 33.4352v-5.72258418h29.67289334V33.4352z'/%3E%3C/g%3E%3C/svg%3E") center center/contain no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 96 106'%3E%3Cg fill='rgb(0,61,92)'%3E%3Cpath fill-rule='nonzero' d='M77 78l11-53c4-19-27-25-31-6L44 84c-3 14 16 21 20 4l10-48c1-8-8-9-9-2l-8 37-7-2 7-37c4-16 28-12 24 5L71 90c-5 26-39 16-34-7l13-65c6-29 51-21 45 9L84 80l-7-2z'/%3E%3Cpath d='M12 16h5.72259v29.6729H12z'/%3E%3Cpath d='M0 33.4352v-5.72258418h29.67289334V33.4352z'/%3E%3C/g%3E%3C/svg%3E") center center/contain no-repeat;
}

.brna_form .brf_submit ins:hover:before {
    background-color: #0074af;
    /*background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" version="1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 96 106"> <g fill="rgb(0,116,175)"> <path fill-rule="nonzero" d="M77 78l11-53c4-19-27-25-31-6L44 84c-3 14 16 21 20 4l10-48c1-8-8-9-9-2l-8 37-7-2 7-37c4-16 28-12 24 5L71 90c-5 26-39 16-34-7l13-65c6-29 51-21 45 9L84 80l-7-2z"/> <path d="M12 16h5.72259v29.6729H12z"/> <path d="M0 33.4352v-5.72258418h29.67289334V33.4352z"/> </g> </svg>') no-repeat center center;*/
}

.brna_form .brf_submit ins[data-indicator]:before {
    -webkit-mask-position-x: -13px;
    mask-position: -13px center;
}
.brna_form .brf_submit ins[data-indicator] {
    cursor: default;
    /*background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" version="1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 47 84"> <path fill="rgb(0,116,175)" fill-rule="nonzero" d="M32 62l9-42c3-16-21-20-24-5L6 67c-2 11 13 16 16 3l8-39c1-5-6-6-7-1l-6 29-6-1 6-29c3-13 22-10 19 4l-8 38C24 92-3 84 0 66l11-52c5-23 41-16 36 7l-9 42-6-1z"/> </svg>') no-repeat left center;*/
}

.brna_form .brf_submit ins[data-indicator]:after {
    content: attr(data-indicator);
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 19px;
    height: 19px;
    border-radius: 100px;
    background-color: white;
    font-size: 8px;
    font-family: Verdana, serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 45, 68, 0.72);
}

.brf_submit button {
    font-size: 1.5em;
    font-family: inherit;
    border: none;
    background-color: #62bf7c !important;
    border-radius: 5px;
    padding: 12px 15px;
    color: white;
    cursor: pointer;
    outline: none;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.brf_submit button:hover {
    background-color: #0074af;
}

.brna_form .brf_submit .recaptcha2 {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}

.brna_form .brf_submit .recaptcha2.recaptcha_error {

}

.brna_form .brf_submit .recaptcha2.recaptcha_error > * {
    border: 2px solid red;
    overflow: hidden;
}

.brf_submit .errors {
    margin-top: 10px;
    color: red;
    flex-basis: 100%;
}

.brf_submit .errors:empty {
    margin-top: 0;
}

.brf_submit .errors div {
    font-style: oblique;
    font-size: 0.85em;
}

.br_tree {
}

.br_tree blockquote {
    margin: 15px 5px 5px 0;
    color: #717171;
    background-color: #f1f1f1;
    font-style: oblique;
    border-left: 2px solid;
    font-size: 0.9em;
    padding: 10px 20px;
}

._zero {
    margin: 40px 0;
}

._zero .brn_add span {
    background-color: #003d5c;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

._zero .brn_add span:hover {
    background-color: #0074af;
}

.br_node {
    margin-top: 10px;
    border-top: 1px solid transparent;
}

.br_comment {
    margin-top: 20px;
}

.br_comment._hightlight {
}

.br_comment._hightlight:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f3f399;
    z-index: -1;
    margin: -14px;
}

.br_comment._found {
}

.br_comment._found:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 229, 103);
    z-index: -1;
    margin: -14px;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.br_comment._found._found_and_faded:after {
    background-color: transparent;
}

.br_comment article {
    margin-top: 7px;
    max-height: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;
    -webkit-transition: max-height 0.3s ease-out 0s;
    -moz-transition: max-height 0.3s ease-out 0s;
    -o-transition: max-height 0.3s ease-out 0s;
    transition: max-height 0.3s ease-out 0s;
}

.br_comment article iframe {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

.br_comment article p {
    margin: 7px 0 0;
}

.br_comment article._tint_height {
    margin-bottom: 20px;
}

.br_comment article._tint_height ins.toggle_out {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255), rgb(255, 255, 255));
    height: 50px;
    cursor: pointer;
}

.br_comment article._tint_height ins.toggle_out:before {
    content: '';
    height: 1px;
    max-width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    background-color: #c7c7c7;
    margin: auto;
}

.br_comment article._tint_height ins.toggle_out:after {
    content: '...';
    color: white;
    height: 14px;
    width: 51px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c7c7c7;
    margin: auto;
    border-radius: 25px;
    z-index: 1;
    line-height: 5px;
    text-align: center;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.br_comment article._tint_height ins.toggle_out:hover:after {
    background-color: #0074af;
}

.br_comment article._any_height {
    max-height: 600px;
}

.br_comment section {
    margin-top: 11px;
}

.burlakastudio_realcommenter .brn_add {
    margin-top: 5px;
    font-size: 1em;
}

.burlakastudio_realcommenter .brn_add span,
.burlakastudio_realcommenter .brn_add abbr {
    cursor: pointer;
    border-bottom: 1px dotted;
    font-style: oblique;
    color: #62bf7c !important;
    margin-right: 10px;
    font-weight: bold;
    line-height: 1.65em;
    font-size: 0.85em;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
	font-style: normal;
}

.burlakastudio_realcommenter .brn_add abbr {
    color: #7e7e7e;
}

.burlakastudio_realcommenter .brn_add span:hover,
.burlakastudio_realcommenter .brn_add abbr:hover {
    color: #0074af;
}

.burlakastudio_realcommenter .brn_add ins {
    color: #003d5c;
    font-style: oblique;
    font-size: 0.85em;
}

.burlakastudio_realcommenter .brn_add ins strong {
    display: inline-block;
    padding: 0 9px;
    background-color: #003d5c;
    color: white;
    font-weight: normal;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 0.85em;
    vertical-align: bottom;

    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.burlakastudio_realcommenter .brn_add ins strong:hover {
    background-color: #0074af;
}

.burlakastudio_realcommenter .brn_add ins strong:before {
    content: attr(data-value);
}

.br_comment .br_node {
    margin-left: 20px;
}

.br_comment._incomment > .schema_org_wrapper > .br_node,
.br_comment._incomment > .br_node {
    margin-left: 0;
}

.br_comment._incomment > .schema_org_wrapper > .brn_add,
.br_comment._incomment > .brn_add {
    display: none;
}

.br_comment._incomment > .schema_org_wrapper > .brn_add span,
.br_comment._incomment > .brn_add span {
    cursor: default;
    color: white;
    background-color: #b5b5b5;
    padding: 3px 10px;
}

.br_comment._disabled {
    color: #c7c7c7;
    border-left: 2px dotted;
    padding-left: 10px;
}

.br_comment._disabled .brn_add span,
.br_comment._disabled .brc_header header > noindex > a,
.br_comment._disabled .brc_header header > a,
.br_comment._disabled .brc_header aside .brc_voteblock {
    display: none;
}

.br_comment._disabled .brc_header header abbr:empty {
    background-color: #ddd;
}

.br_comment._disabled .brc_header header abbr:empty:before {
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="194 -104 1000 1000"><path fill-rule="evenodd" clip-rule="evenodd" fill="rgb(240,240,240)" d="M892.4 585.9c10 3.1 19.1 5.7 27.5 8.2 34.5 10 44.8 54.6 17.5 78.1-65.4 56.5-150.7 90.8-244 90.8-92.8 0-177.6-33.8-242.9-89.8-27.4-23.5-17.3-68.2 17.4-78.3 9.2-2.7 19.2-5.5 30.2-9 62.6-19.5 92.6-43.7 98.2-68.7 0-.1 0-.2.1-.2 3.6-16.1-2.8-32.9-15.5-43.5-26.4-22.1-37.1-59.8-44.1-87.5-.8-3.2-1.7-6.5-2.5-9.8-12.1-2.1-25.4-17.3-32.2-38.5-8.2-25.5-3.9-49.8 9.6-54.1 1.3-.4 2.6-.4 3.9-.5-3.1-18.2-6.9-45.4-7.3-69.3-.1-5.2-.2-10.9-.2-16.9 0-3 .1-6.1.1-9.3 0-1.6.1-3.2.2-4.8.1-1.6.2-3.2.3-4.9.9-13.1 2.9-26.8 7-40 7.4-23.7 21.6-45.4 47.4-57.3 5.8-2.7 11-6.4 15.1-11.3 22.4-26.4 49.1-39.6 74.2-45.4 6.9-1.6 13.6-2.6 20.1-3.2 3.2-.3 6.4-.5 9.5-.6 1.6-.1 3.1-.1 4.6-.1h4.5c11.7.3 22 1.8 29.6 3.7 50 12.3 89.2 38 116.4 69.5 13.5 15.8 23.9 33 30.7 50.7 3.4 8.9 5.9 17.9 7.4 26.9.8 4.5 1.3 9 1.6 13.5.3 4.5.3 8.9.1 13.4-1.5 27.1-4.4 45.9-7.3 60.1-2.3 11.1.1 22.2 5 32.4 4.9 10.3 5.3 26.7.2 43.9-6.1 20.3-18.3 35.3-29.8 38.7-2.2 8.1-3.8 13.5-3.9 13.5-3.8 29-10.7 59.8-35.3 82.9-10.5 9.8-15 24.5-13.1 38.7.5 3.5 1 6.6 1.6 9.2 5.6 25.1 35.5 49.3 98.1 68.8z"/></svg>') no-repeat left top;
}

.br_node._collapsed * {
    color: #b7b7b7 !important;
    font-weight: normal;
}

.br_node._collapsed .brc_header header abbr img {
    max-width: 15px;
}

.br_node._collapsed *._disabled * {
    color: #d8d8d8 !important;
}


.br_comment._proof_awaiting {
    color: #f58220;
    border-left: 2px dotted;
    padding-left: 10px;
}

.br_comment._proof_awaiting .brn_add span,
.br_comment._proof_awaiting .brc_header header > noindex > a,
.br_comment._proof_awaiting .brc_header header > a,
.br_comment._proof_awaiting .brc_header aside .brc_voteblock {
    display: none;
}

.br_comment._proof_awaiting .brc_header header abbr:empty {
    background-color: #ddd;
}

.br_comment._proof_awaiting .brc_header header abbr:empty:before {
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="194 -104 1000 1000"><path fill-rule="evenodd" clip-rule="evenodd" fill="rgb(240,240,240)" d="M892.4 585.9c10 3.1 19.1 5.7 27.5 8.2 34.5 10 44.8 54.6 17.5 78.1-65.4 56.5-150.7 90.8-244 90.8-92.8 0-177.6-33.8-242.9-89.8-27.4-23.5-17.3-68.2 17.4-78.3 9.2-2.7 19.2-5.5 30.2-9 62.6-19.5 92.6-43.7 98.2-68.7 0-.1 0-.2.1-.2 3.6-16.1-2.8-32.9-15.5-43.5-26.4-22.1-37.1-59.8-44.1-87.5-.8-3.2-1.7-6.5-2.5-9.8-12.1-2.1-25.4-17.3-32.2-38.5-8.2-25.5-3.9-49.8 9.6-54.1 1.3-.4 2.6-.4 3.9-.5-3.1-18.2-6.9-45.4-7.3-69.3-.1-5.2-.2-10.9-.2-16.9 0-3 .1-6.1.1-9.3 0-1.6.1-3.2.2-4.8.1-1.6.2-3.2.3-4.9.9-13.1 2.9-26.8 7-40 7.4-23.7 21.6-45.4 47.4-57.3 5.8-2.7 11-6.4 15.1-11.3 22.4-26.4 49.1-39.6 74.2-45.4 6.9-1.6 13.6-2.6 20.1-3.2 3.2-.3 6.4-.5 9.5-.6 1.6-.1 3.1-.1 4.6-.1h4.5c11.7.3 22 1.8 29.6 3.7 50 12.3 89.2 38 116.4 69.5 13.5 15.8 23.9 33 30.7 50.7 3.4 8.9 5.9 17.9 7.4 26.9.8 4.5 1.3 9 1.6 13.5.3 4.5.3 8.9.1 13.4-1.5 27.1-4.4 45.9-7.3 60.1-2.3 11.1.1 22.2 5 32.4 4.9 10.3 5.3 26.7.2 43.9-6.1 20.3-18.3 35.3-29.8 38.7-2.2 8.1-3.8 13.5-3.9 13.5-3.8 29-10.7 59.8-35.3 82.9-10.5 9.8-15 24.5-13.1 38.7.5 3.5 1 6.6 1.6 9.2 5.6 25.1 35.5 49.3 98.1 68.8z"/></svg>') no-repeat left top;
}

.br_node._collapsed *._proof_awaiting * {
    color: #f58220 !important;
}

.br_comment._proof_awaiting article:before {
    content: attr(data-appoval-awaiting);
    display: block;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0px 7px;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
}


.br_node._collapsed .brn_add,
.br_node._collapsed .brc_header header > noindex > a,
.br_node._collapsed .brc_header header > a,
.br_node._collapsed .brc_header aside .brc_voteblock abbr,
.br_node._collapsed .brc_header aside del,
.br_node._collapsed article {
    display: none;
}

.br_node._collapsed .br_node,
.br_node._collapsed .br_comment {
    margin-top: 3px;
}

.br_node._collapsed .brc_header header abbr:empty:before {
    width: 13px;
    height: 13px;
}

.br_comment article._hidden:before {
    content: attr(data-hidden);
    background-color: #8c8c8c;
    color: white;
    display: inline-block;
    padding: 0 8px;
    border-radius: 7px;
    font-size: 0.8em;
    font-style: oblique;
}


.brc_header {
    display: flex;
    font-size: 0.75em;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #777;
}

.brc_header header {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0;
    background: transparent;
}

.brc_header header > * {
    margin-right: 9px;
}

.brc_header header abbr {
    display: flex;
    align-items: center;
}

.brc_header header abbr img {
    max-width: 100%;
    height: auto;
}

.brc_header header abbr:empty {
    background-color: #e2e2e2;
}

.brc_header header abbr:empty:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="194 -104 1000 1000"><path fill-rule="evenodd" clip-rule="evenodd" fill="rgb(204,204,204)" d="M892.4 585.9c10 3.1 19.1 5.7 27.5 8.2 34.5 10 44.8 54.6 17.5 78.1-65.4 56.5-150.7 90.8-244 90.8-92.8 0-177.6-33.8-242.9-89.8-27.4-23.5-17.3-68.2 17.4-78.3 9.2-2.7 19.2-5.5 30.2-9 62.6-19.5 92.6-43.7 98.2-68.7 0-.1 0-.2.1-.2 3.6-16.1-2.8-32.9-15.5-43.5-26.4-22.1-37.1-59.8-44.1-87.5-.8-3.2-1.7-6.5-2.5-9.8-12.1-2.1-25.4-17.3-32.2-38.5-8.2-25.5-3.9-49.8 9.6-54.1 1.3-.4 2.6-.4 3.9-.5-3.1-18.2-6.9-45.4-7.3-69.3-.1-5.2-.2-10.9-.2-16.9 0-3 .1-6.1.1-9.3 0-1.6.1-3.2.2-4.8.1-1.6.2-3.2.3-4.9.9-13.1 2.9-26.8 7-40 7.4-23.7 21.6-45.4 47.4-57.3 5.8-2.7 11-6.4 15.1-11.3 22.4-26.4 49.1-39.6 74.2-45.4 6.9-1.6 13.6-2.6 20.1-3.2 3.2-.3 6.4-.5 9.5-.6 1.6-.1 3.1-.1 4.6-.1h4.5c11.7.3 22 1.8 29.6 3.7 50 12.3 89.2 38 116.4 69.5 13.5 15.8 23.9 33 30.7 50.7 3.4 8.9 5.9 17.9 7.4 26.9.8 4.5 1.3 9 1.6 13.5.3 4.5.3 8.9.1 13.4-1.5 27.1-4.4 45.9-7.3 60.1-2.3 11.1.1 22.2 5 32.4 4.9 10.3 5.3 26.7.2 43.9-6.1 20.3-18.3 35.3-29.8 38.7-2.2 8.1-3.8 13.5-3.9 13.5-3.8 29-10.7 59.8-35.3 82.9-10.5 9.8-15 24.5-13.1 38.7.5 3.5 1 6.6 1.6 9.2 5.6 25.1 35.5 49.3 98.1 68.8z"/></svg>') no-repeat left top;
    background-size: cover;
}

.brc_header header span {
    font-weight: bold;
}

.brc_header header span._blocked {
    display: inline-flex;
    align-items: center;
    color: #8e8e8e;
    background-color: #cacaca;
    padding: 2px 7px 2px 5px;
    border-radius: 60px;
}

.brc_header header span._blocked:before {
    content: '\00a4';
    color: white;
    margin-right: 4px;
    font-size: 1.3em;
    display: inline;
    vertical-align: middle;
    font-weight: normal;
}

.brc_header header span._admin {
    color: #900000;
}

.brc_header header span._brand {
    color: #020038;
}

.brc_header header span._have_ban {

}

.brc_header header span._have_ban,
.brc_header header span._have_warnings {
    /* color: #a7a7a7; */
}

.brc_header header span._have_ban:before,
.brc_header header span._have_warnings:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 100px;
}

.brc_header header span._have_ban:before {
    background-color: red;
    vertical-align: sub;
}

.brc_header header span._have_warnings:before {
    content: attr(data-warnings);
    background-color: #f37021;
    color: white;
    /* text-align: center; */
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma, serif;
    font-size: 10px;
    font-weight: bold;
}

.brc_header header time {
    display: flex;
    align-items: center;
}

.brc_header header time:empty {
    display: none;
}

.brc_header header time[data-time]:after {
    content: attr(data-time);
    display: inline-block;
}

.brc_header header > noindex > a,
.brc_header header > a {
    border-bottom: none;
}
.brc_header header > a:before {
	display: none;
}
.brc_header header > noindex > a:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: cover;
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0, 0, 12, 12"> <path fill-rule="evenodd" fill="rgb(126,126,126)" d="M11.226,3.370 L9.424,3.370 L10.069,0.836 L8.340,0.836 L7.703,3.370 L5.850,3.370 L6.487,0.836 L4.759,0.836 L4.121,3.370 L1.638,3.370 L1.638,5.055 L3.704,5.055 L3.103,7.457 L0.781,7.457 L0.781,9.142 L2.678,9.142 L2.027,11.742 L3.748,11.742 L4.400,9.142 L6.260,9.142 L5.608,11.742 L7.307,11.742 L7.967,9.142 L10.376,9.142 L10.376,7.457 L8.391,7.457 L8.999,5.055 L11.226,5.055 L11.226,3.370 ZM6.692,7.472 L4.802,7.472 L5.418,5.040 L7.307,5.040 L6.692,7.472 Z"/> </svg>') no-repeat center center;
}

.brc_header header > noindex > a:hover:before,
.brc_header header > a:hover:before {
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0, 0, 12, 12"> <path fill-rule="evenodd" fill="rgba(0,85,204)" d="M11.226,3.370 L9.424,3.370 L10.069,0.836 L8.340,0.836 L7.703,3.370 L5.850,3.370 L6.487,0.836 L4.759,0.836 L4.121,3.370 L1.638,3.370 L1.638,5.055 L3.704,5.055 L3.103,7.457 L0.781,7.457 L0.781,9.142 L2.678,9.142 L2.027,11.742 L3.748,11.742 L4.400,9.142 L6.260,9.142 L5.608,11.742 L7.307,11.742 L7.967,9.142 L10.376,9.142 L10.376,7.457 L8.391,7.457 L8.999,5.055 L11.226,5.055 L11.226,3.370 ZM6.692,7.472 L4.802,7.472 L5.418,5.040 L7.307,5.040 L6.692,7.472 Z"/> </svg>') no-repeat center center;
}

.brc_header._fresh time {
    color: #003D5C;
}

.brc_header._fresh time:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #003D5C;
    display: inline-block;
    margin-right: 6px;
}

.brc_header aside {
    display: flex;
    align-items: center;
}

.brc_header aside > * {
    margin-left: 10px;
}

.brc_header aside .brc_voteblock {
    display: flex;
    align-items: center;
}

.brc_header aside .brc_voteblock > * {
}

.brc_header aside .brc_voteblock ins {
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
    margin: 0 6px;
}

.brc_header aside .brc_voteblock ins[data-emo="p"] {
    color: red;
}

.brc_header aside .brc_voteblock ins[data-emo="n"] {
    color: #0055cc;
}

.brc_header aside .brc_voteblock ins[data-emo="z"] {
    color: black;
}

.brc_header aside .brc_voteblock .br_iva_btn {
    cursor: pointer;
    display: flex;
    border-bottom: none;
}

.brc_header aside .brc_voteblock .br_iva_btn:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 14px;
    /*
    background-size: cover;
    background: url( 'data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0, 0, 8, 11"><path  fill-rule="evenodd" clip-rule="evenodd" fill="rgb(126,126,126)" d="M5 1l3 3H5v7H3V4H0l3-3 1-1 1 1z"/></svg>' ) no-repeat center center;*/

    background-color: rgb(126, 126, 126);
    -webkit-mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0, 0, 8, 11"><path  fill-rule="evenodd" clip-rule="evenodd" fill="rgb(126,126,126)" d="M5 1l3 3H5v7H3V4H0l3-3 1-1 1 1z"/></svg>') center center/contain no-repeat;
    mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0, 0, 8, 11"><path  fill-rule="evenodd" clip-rule="evenodd" fill="rgb(126,126,126)" d="M5 1l3 3H5v7H3V4H0l3-3 1-1 1 1z"/></svg>') center center/contain no-repeat;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.brc_header aside .brc_voteblock .br_iva_btn:hover:before {
    background-color: rgb(255, 0, 0);
}

.brc_header aside .brc_voteblock .br_iva_btn._down:before {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: 'FlipH';
}

.brc_header aside .brc_voteblock .br_iva_btn._down:hover:before {
    background-color: rgb(0, 0, 255);
}

.brc_header aside .brc_voteblock._used .br_iva_btn {
    cursor: default;
}

.brc_header aside .brc_voteblock._used .br_iva_btn:before,
.brc_header aside .brc_voteblock._used .br_iva_btn._down:hover:before {
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0, 0, 8, 11"><path  fill-rule="evenodd" clip-rule="evenodd" fill="rgb(212,212,212)" d="M5 1l3 3H5v7H3V4H0l3-3 1-1 1 1z"/></svg>') no-repeat center center;
}

.brc_header aside > del ins {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 5px 0;
}

.brc_header aside > del ins:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    /*background-size: cover;
    background: url( 'data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="340 140 280 279"><path fill= "rgb(126,126,126)" d="M620 306v-52l-31-5-10-24 18-25-36-37-26 18c-8-4-16-8-24-10l-5-31h-52l-5 32c-9 2-16 5-24 9l-25-18-37 37 18 25c-4 8-7 16-9 25l-32 4v52l32 5c2 9 5 16 9 24l-18 26 36 36 26-18c8 4 16 7 25 9l5 31h51l6-31c8-2 16-6 23-10l27 19 36-37-19-26c4-7 8-15 10-24l31-4zm-140 28a54 54 0 1 1 54-54c0 30-24 54-54 54z"/></svg>' ) no-repeat center center;*/
    background-color: rgb(126, 126, 126);
    -webkit-mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="340 140 280 279"><path fill= "rgb(126,126,126)" d="M620 306v-52l-31-5-10-24 18-25-36-37-26 18c-8-4-16-8-24-10l-5-31h-52l-5 32c-9 2-16 5-24 9l-25-18-37 37 18 25c-4 8-7 16-9 25l-32 4v52l32 5c2 9 5 16 9 24l-18 26 36 36 26-18c8 4 16 7 25 9l5 31h51l6-31c8-2 16-6 23-10l27 19 36-37-19-26c4-7 8-15 10-24l31-4zm-140 28a54 54 0 1 1 54-54c0 30-24 54-54 54z"/></svg>') center center/contain no-repeat;
    mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="340 140 280 279"><path fill= "rgb(126,126,126)" d="M620 306v-52l-31-5-10-24 18-25-36-37-26 18c-8-4-16-8-24-10l-5-31h-52l-5 32c-9 2-16 5-24 9l-25-18-37 37 18 25c-4 8-7 16-9 25l-32 4v52l32 5c2 9 5 16 9 24l-18 26 36 36 26-18c8 4 16 7 25 9l5 31h51l6-31c8-2 16-6 23-10l27 19 36-37-19-26c4-7 8-15 10-24l31-4zm-140 28a54 54 0 1 1 54-54c0 30-24 54-54 54z"/></svg>') center center/contain no-repeat;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.brc_header aside > del ins:hover:before {
    background-color: rgb(0, 85, 204);
}

.brc_header aside > del._show ins:before {
    background-color: rgb(204, 131, 131);
}

.brc_header aside > del._show .br_options {
    display: block;
}

.brc_header aside > del .br_options {
    position: absolute;
    top: 33px;
    right: -19px;
    background-color: #eca4a4;
    z-index: 1;
    display: none;
    box-shadow: -2px 3px 30px -3px rgba(167, 85, 85, 0.65);
    border-radius: 5px;
    border: 3px solid #cc8383;
}

.brc_header aside > del .br_options:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: -7px;
    z-index: 1;
    border: 3px solid #cc8383;
    background-color: #efbaba;
    -moz-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.brc_header aside > del .br_options div {
    padding: 5px 10px;
    font-family: Verdana;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 2;
    color: black;
    background-color: #efbaba;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.brc_header aside > del .br_options div:hover {
    background-color: rgb(244, 200, 200);
}

.brc_header aside > del .br_options div._break {
    border-top: solid 1px rgba(255, 255, 255, 0.4);
}

.brc_header aside > del .br_options div[data-action-proof] {
    display: flex;
    justify-content: space-between;
}

/* bitrix/components/realcommenter_2.0/tape.show.tree/templates/.default/style.css */
.brc_header aside > del .br_options div[data-action-proof]:after {
    content: attr(data-proof-label);
    /* width: 20px; */
    /* height: 20px; */
    color: #3211e8;
    font-weight: bold;
    border-bottom: 1px dashed;
    padding: 0 3px;
    /* -webkit-mask: url( 'data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1162px" height="874px" version="1.0" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 1273 957" xmlns:xlink="http://www.w3.org/1999/xlink"> <g><polygon fill="rgb(0, 0, 0)" points="0,502 460,957 1273,137 1135,0 473,668 151,350 "/></g> </svg>' ) 0 0/20px 20px; */
    /*mask: url( 'data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1162px" height="874px" version="1.0" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 1273 957" xmlns:xlink="http://www.w3.org/1999/xlink"> <g><polygon fill="rgb(0, 0, 0)" points="0,502 460,957 1273,137 1135,0 473,668 151,350 "/></g> </svg>' ) 0 0/20px 20px;*/
}

.brc_header aside > del .br_options b {
    display: block;
    padding: 5px 10px;
}

/* add form */
.brna_form {
}

.brna_form._waiting {
}

.brna_form._waiting .brf_header del {
    display: none;
}

.brna_form._waiting .brfb_msg {
    display: flex;
}

.brna_form._waiting .brfb_msg textarea {
    height: 40px;
    min-height: 0;
    overflow: hidden;
}

.brfb_tools ins {
    display: inline-flex;
    padding: 2px 5px;
    cursor: pointer;
    min-width: 30px;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 0.3s ease-out 0s, color 0.3s ease-in 0s;
    -moz-transition: background-color 0.3s ease-out 0s, color 0.3s ease-in 0s;
    -o-transition: background-color 0.3s ease-out 0s, color 0.3s ease-in 0s;
    transition: background-color 0.3s ease-out 0s, color 0.3s ease-in 0s;
    /* font-weight: bold; */
    font-size: 0.8em;
}

.brfb_tools ins:hover {
    background-color: white;
    color: #0055cc;
}

.brna_form input[type="text"],
.brna_form input[type="password"],
.brna_form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdbdbd;
    font-size: 1em;
    font-style: oblique;
    font-family: inherit;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 220px;
    height: auto;
    -webkit-transition: border-color 0.3s ease-in 0s;
    -moz-transition: border-color 0.3s ease-in 0s;
    -o-transition: border-color 0.3s ease-in 0s;
    transition: border-color 0.3s ease-in 0s;
}

.brna_form input[type="text"]:focus,
.brna_form input[type="password"]:focus,
.brna_form textarea:focus {
    border-color: #003D5C;
    outline: none;
    box-shadow: -1px 1px 8px -1px rgba(0, 61, 92, 0.49) inset;
}

.brna_form input[type="text"]._error,
.brna_form input[type="password"]._error,
.brna_form textarea._error {
    border: 2px solid red;
}

.brf_header {
    padding-top: 16px;
}

.brf_header h3 {
    font-size: 1.2em;
    font-weight: normal;
}

.br_comment._incomment .brna_form .brf_header h3 {
    display: none;
}

.brf_header del {
    position: absolute;
    right: 0;
    background: #b5b5b5;
    bottom: 0;
    width: 22px;
    height: 22px;
    top: 0;
    margin-top: -16px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.brf_header del:hover {
    background-color: black;
}

.brf_header del:before,
.brf_header del:after {
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.brf_header del:before {
    -moz-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.brf_header del:after {
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.brf_header + div:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 20px;
    height: 20px;
    background: #968b88;
    border-width: 4px 4px 0 0;
    border-style: solid;
    border-color: #968b88;
    margin-top: -15px;
    -moz-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    box-sizing: content-box;
}

.brf_body:before {
    background-color: #eeeeee !important;
}

.brf_body {
    background-color: #ece8e7;
    padding: 20px;
}

.brf_body > div:first-of-type {
    margin-top: 0;
}


.brfb_tools {
    display: flex;
    /* padding-left: 20px; */
}

.brf_header + div {
    border-top: 4px solid #968b88;
}

.brna_form > div + div {
    border-left: 4px solid #968b88;
    border-right: 4px solid #968b88;
}

.brna_form > div:last-of-type {
    border-bottom: 4px solid #968b88;
}

.brf_additionals {
    /* padding: 20px; */
    /* background: #ddd; */
}

.brf_additionals > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.brf_additionals > div:last-of-type {
    margin-bottom: 0;
}

.brf_additionals > div div {
    flex-basis: 100%;
}

.brf_additionals > div span {
    font-weight: bold;
    margin-right: 12px;
    margin-bottom: 7px;
}
[data-shape] {
    display: inline-flex;
    align-items: center;
}


[data-shape] ins {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background-color: #ddd;
    -webkit-mask: url("data:image/svg+xml;utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(189, 123, 2)' d='M7.659,0.977 L9.356,6.517 L14.879,6.506 L10.405,9.919 L12.122,15.452 L7.659,12.021 L3.198,15.452 L4.914,9.919 L0.440,6.506 L5.963,6.517 L7.659,0.977 Z'/%3E%3C/svg%3E") center center/contain no-repeat;
    mask: url("data:image/svg+xml;utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(189, 123, 2)' d='M7.659,0.977 L9.356,6.517 L14.879,6.506 L10.405,9.919 L12.122,15.452 L7.659,12.021 L3.198,15.452 L4.914,9.919 L0.440,6.506 L5.963,6.517 L7.659,0.977 Z'/%3E%3C/svg%3E") center center/contain no-repeat;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

[data-shape] ins:last-of-type {
    margin-right:0;
}

[data-shape="star"] ins {
    width: 19px;
    height: 19px;
    margin-right: 0px;
}

[data-shape="circle"] ins {
    -webkit-mask: url("data:image/svg+xml;utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cpath fill-rule='evenodd' fill='%23BD7B02' d='M7 0a7 7 0 110 14A7 7 0 017 0z'/%3E%3C/svg%3E") center center/contain no-repeat;
    mask: url("data:image/svg+xml;utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cpath fill-rule='evenodd' fill='%23BD7B02' d='M7 0a7 7 0 110 14A7 7 0 017 0z'/%3E%3C/svg%3E") center center/contain no-repeat;
}

[data-shape="rectangle"] ins {
    -webkit-mask: url("data:image/svg+xml;utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cpath fill-rule='evenodd' fill='%23BD7B02' d='M0 0h14v14H0V0z'/%3E%3C/svg%3E") center center/contain no-repeat;
    mask: url("data:image/svg+xml;utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cpath fill-rule='evenodd' fill='%23BD7B02' d='M0 0h14v14H0V0z'/%3E%3C/svg%3E") center center/contain no-repeat;
}

[data-shape="heart"] ins {
    -webkit-mask: url("data:image/svg+xml;utf-8,%3Csvg width='128' height='128' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M90.35 16.05c-11.66 0-21.81 6.97-26.35 17.06-4.54-10.08-14.69-17.06-26.35-17.06-15.92 0-28.87 12.96-28.87 28.88 0 35.9 51.79 65.46 54 66.7.38.21.79.32 1.21.32.42 0 .84-.11 1.21-.32 2.2-1.24 54.01-30.8 54.01-66.7.01-15.92-12.94-28.88-28.86-28.88z' fill='%23db4437'/%3E%3C/svg%3E") center center/contain no-repeat;
    mask: url("data:image/svg+xml;utf-8,%3Csvg width='128' height='128' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M90.35 16.05c-11.66 0-21.81 6.97-26.35 17.06-4.54-10.08-14.69-17.06-26.35-17.06-15.92 0-28.87 12.96-28.87 28.88 0 35.9 51.79 65.46 54 66.7.38.21.79.32 1.21.32.42 0 .84-.11 1.21-.32 2.2-1.24 54.01-30.8 54.01-66.7.01-15.92-12.94-28.88-28.86-28.88z' fill='%23db4437'/%3E%3C/svg%3E") center center/contain no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 1px;
}

.brf_additionals .itape_rating ins {
    cursor: pointer;
}

[data-shape][data-value="1"] ins:nth-child(1),
[data-shape][data-value="2"] ins:nth-child(1),
[data-shape][data-value="2"] ins:nth-child(2),
[data-shape][data-value="3"] ins:nth-child(1),
[data-shape][data-value="3"] ins:nth-child(2),
[data-shape][data-value="3"] ins:nth-child(3),
[data-shape][data-value="4"] ins:nth-child(1),
[data-shape][data-value="4"] ins:nth-child(2),
[data-shape][data-value="4"] ins:nth-child(3),
[data-shape][data-value="4"] ins:nth-child(4),
[data-shape][data-value="5"] ins:nth-child(1),
[data-shape][data-value="5"] ins:nth-child(2),
[data-shape][data-value="5"] ins:nth-child(3),
[data-shape][data-value="5"] ins:nth-child(4),
[data-shape][data-value="5"] ins:nth-child(5) {
    background-color: #bd7b02;
}

[data-rating] {
    display: flex;
}

[data-rating] > * {
    order: 2;
}

[data-rating] [data-shape] {
    min-width: 95px;
    justify-content: space-evenly;
    margin-left: 10px;
}


[data-rating][data-shape-position="before_title"] [data-shape] {
    order: 1;
    margin-right: 10px;
    margin-left: 0;
}

[data-rating][data-shape-position="before_title"] .brca_title:after {
    display:none;
}

.brfb_msg {
    display: flex;
}

.brna_form._ambushed .brfb_msg textarea {
    min-height: 0;
    height: 30px;
    overflow: hidden;
    resize: none;
    font-size: 0;
}

.brna_form._ambushed {
    cursor: pointer;
}

.brna_form._ambushed .brfb_msg em {
    position: absolute;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    -webkit-transition: color 0.3s ease-out 0s;
    -moz-transition: color 0.3s ease-out 0s;
    -o-transition: color 0.3s ease-out 0s;
    transition: color 0.3s ease-out 0s;
	font-style: normal;
}

.brna_form._ambushed:hover .brfb_msg em {
    color: black;
}

.brna_form._error_onboard {
}

.brna_form._error_onboard > div + div {
    border-left-color: red;
    border-right-color: red;
}

.brna_form._error_onboard .brf_header + div {
    border-top-color: red;
}

.brna_form._error_onboard > div:last-of-type {
    border-bottom-color: red;
}

.brna_form._error_onboard .brf_header + div:before {
    border-color: red;
}

.brfb_msg textarea {
    min-height: 120px;
}

.brfb_sublink {
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: hidden;
}

.brfb_sublink ins {
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
    font-size: 0.85em;
    cursor: pointer;
    border-bottom: 1px dotted;
    color: #003d5c;
    -webkit-transition: color 0.3s ease-out 0s;
    -moz-transition: color 0.3s ease-out 0s;
    -o-transition: color 0.3s ease-out 0s;
    transition: color 0.3s ease-out 0s;
    line-height: 1.45em;
}

.brfb_sublink ins:hover {
    color: #0074af;
}

.brfb_userfields {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.brfb_userfields > div {
    margin-right: 30px;
    margin-bottom: 10px;
}

.brfb_userfields > div:last-of-type {
    margin-bottom: 0;
}

.brfb_userfields span {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}


.brf_uploads {
    background-color: #dddddd;
    padding: 20px;
}

.brf_uploads + .brf_submit {
    padding-top: 0;
}

.brfu_input {
}

.brfu_preview {
}


.uploaded_images {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.uploaded_images span {
    margin-right: 11px;
    margin-bottom: 11px;
    display: inline-flex;
    cursor: pointer;
}

.uploaded_files {
    display: flex;
    flex-wrap: wrap;
}

.uploaded_files span {
    margin-right: 11px;
    margin-bottom: 11px;
    white-space: nowrap;
    display: inline-block;
}

section .uploaded_files span {
    display: inline-flex;
    align-items: center;
}

section .uploaded_files span a {
    display: inline-flex;
    align-items: center;
}

section .uploaded_files span a:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #737373;
    -webkit-mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1792 1792" fill-rule="evenodd"><path fill="rgb(181,181,181)" fill-rule="nonzero" d="M1407.338983 503.2711q17 41-14 70l-448 448q-18 19-45 19t-45-19l-448-448q-31-29-14-70 17-39 59-39h256v-448q0-26 19-45t45-19h256q26 0 45 19t19 45v448h256q42 0 59 39zm293 217q14 0 23 9t9 23v576q0 14-9 23t-23 9h-1600q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h192q14 0 23 9t9 23v352h1152v-352q0-14 9-23t23-9h192z"/></svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1792 1792" fill-rule="evenodd"><path fill="rgb(181,181,181)" fill-rule="nonzero" d="M1407.338983 503.2711q17 41-14 70l-448 448q-18 19-45 19t-45-19l-448-448q-31-29-14-70 17-39 59-39h256v-448q0-26 19-45t45-19h256q26 0 45 19t19 45v448h256q42 0 59 39zm293 217q14 0 23 9t9 23v576q0 14-9 23t-23 9h-1600q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h192q14 0 23 9t9 23v352h1152v-352q0-14 9-23t23-9h192z"/></svg>');
}

section .uploaded_files span a {
    border-bottom: none;
    padding: 5px 10px 5px;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

section .uploaded_files span a:hover {
    background-color: #eee;
}


.brf_edit_uploads {
    padding: 20px;
    background: white;
}

.brf_edit_uploads > *:first-child {
    /* margin-top: 0 !important; */
}

.brf_edit_uploads .uploaded_images { /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.brf_edit_uploads .uploaded_images span,
.brf_edit_uploads .uploaded_files span {
    display: flex;
    flex-direction: column;
    padding: 7px;
    border: 1px solid #dedede;
    justify-content: space-between;
}

.brf_edit_uploads .uploaded_images span del,
.brf_edit_uploads .uploaded_files span del {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.brf_edit_uploads .uploaded_images span del ins,
.brf_edit_uploads .uploaded_files span del ins {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;

    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.brf_edit_uploads .uploaded_images span del ins:hover:before,
.brf_edit_uploads .uploaded_files span del:hover:before {
    background-color: black;
}

.brf_edit_uploads .uploaded_images span del ins:before,
.brf_edit_uploads .uploaded_files span del ins:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #737373;
    -webkit-mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="14px"> <path fill-rule="evenodd" fill="rgb(243, 0, 0)" d="M12.737,12.324 L11.263,13.676 L6.500,8.480 L1.737,13.676 L0.263,12.324 L5.143,7.000 L0.263,1.676 L1.737,0.324 L6.500,5.520 L11.263,0.324 L12.737,1.676 L7.857,7.000 L12.737,12.324 Z"/> </svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 22" width="20px" height="22px"><path fill-rule="evenodd" d="M19.415,8.360 L19.442,8.408 L19.387,8.419 L13.098,21.993 L0.445,16.131 L6.790,2.436 L6.918,2.495 L15.198,0.928 L19.357,8.258 L19.443,8.298 L19.415,8.360 ZM13.522,4.556 C12.520,4.092 11.331,4.528 10.867,5.530 C10.402,6.532 10.839,7.721 11.841,8.185 C12.843,8.650 14.032,8.214 14.496,7.211 C14.961,6.209 14.524,5.020 13.522,4.556 Z"/></svg>');
}


.brf_edit_uploads .uploaded_images span del button,
.brf_edit_uploads .uploaded_files span del button {
    background: black;
    color: white;
    cursor: pointer;
    border: none;
    display: none;
}

.brf_edit_uploads .uploaded_images span del button:hover,
.brf_edit_uploads .uploaded_files span del button:hover {
    background: red;
}

.brf_edit_uploads .uploaded_images span._proof_awaiting del button,
.brf_edit_uploads .uploaded_files span._proof_awaiting del button {
    display: block;
}

.brf_edit_uploads .uploaded_images span._marked_to_del,
.brf_edit_uploads .uploaded_files span._marked_to_del {
    background: #eca1a1;
    border-color: red;
}

.brf_edit_uploads .uploaded_images span._marked_to_del img,
.brf_edit_uploads .uploaded_files span._marked_to_del img {
    opacity: 0.5;
}

.brf_edit_uploads .uploaded_images span._marked_to_del del ins:before,
.brf_edit_uploads .uploaded_files span._marked_to_del del ins:before {
    background-color: white;
}


.brf_edit_uploads .uploaded_files {
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
}


.br_node + .br_nav {
    margin-top: 40px;
}

.br_nav {
    display: flex;
    margin: 20px 0 16px;
    flex-wrap: wrap;
}

.br_nav ins,
.br_nav a {
    background-color: #b5b5b5;
    margin-right: 4px;
    padding: 0px 10px;
    color: white;
    font-size: 0.85em;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 4px;
    border-radius: 6px;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.br_nav ins:hover,
.br_nav a:hover {
    background-color: #0074af;
}

.br_nav ins._active,
.br_nav a._active {
    background-color: #484848;
    cursor: default;
}

._frozen {
    background-color: #e7e7ff;
    padding: 15px;
    margin-top: 0px;
}

.ncli_tinter {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.ncli_tinter::before {
    background-color: #081c2e;
    background-image: url("/bitrix/images/burlakastudio.realcommenter/waitbar.gif");
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 31px;
    left: 0;
    position: absolute;
    top: 0;
    width: 31px;
    z-index: 12;
}

.ncli_tinter::after {
    background-color: white;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}

.bf_auth {
    background-color: #cecece;
}

.bf_auth.brf_body:before {
    background-color: #cecece !important;
}

.bfa_form {
    display: flex;
    flex-wrap: wrap;
}

.baf_row {
    margin-right: 10px;
    margin-bottom: 10px;
}

.bfa_form .baf_row {
    margin-bottom: 10px;
}

.bfa_form button {
    background-color: #c8a100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
    min-width: 50px;
    min-height: 40px;
}

.bfa_form button:hover {
    background-color: #a68602;
}

.bfa_form button:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 499.1 499.1" fill-rule="evenodd" clip-rule="evenodd" fill="rgb(255,255,255)"><path d="M0 249.6c0 9.5 7.7 17.2 17.2 17.2h327.6l-63.9 63.8c-6.7 6.7-6.7 17.6 0 24.3 3.3 3.3 7.7 5 12.1 5s8.8-1.7 12.1-5l93.1-93.1c6.7-6.7 6.7-17.6 0-24.3l-93.1-93.1c-6.7-6.7-17.6-6.7-24.3 0-6.7 6.7-6.7 17.6 0 24.3l63.8 63.8H17.2c-9.5 0-17.2 7.6-17.2 17.1z"/> <path d="M396.4 494.2c56.7 0 102.7-46.1 102.7-102.8V107.7C499.1 51 453 4.9 396.4 4.9H112.7C56 4.9 10 51 10 107.7V166c0 9.5 7.7 17.1 17.1 17.1 9.5 0 17.2-7.7 17.2-17.1v-58.3c0-37.7 30.7-68.5 68.4-68.5h283.7c37.7 0 68.4 30.7 68.4 68.5v283.7c0 37.7-30.7 68.5-68.4 68.5H112.7c-37.7 0-68.4-30.7-68.4-68.5v-57.6c0-9.5-7.7-17.2-17.2-17.2S10 324.3 10 333.8v57.6c0 56.7 46.1 102.8 102.7 102.8h283.7z"/> </svg>') no-repeat center center;
    background-size: cover;
}

.bf_auth .bfa_soc {
}

.bf_auth .bfa_soc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.bf_auth .bfa_soc ul li {
    margin: 0 5px 5px 0;
    padding: 0;
}

.bf_auth .bfa_soc ul li:before {
    display: none;
}

.bf_auth .brf_submit {
    padding: 0 10px;
    margin: 0 0 15px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}

.bf_auth .errors {
    margin: 10px 0;
}

.bf_auth._error_onboard {
    border: 4px solid red !important;
}

.itape_gallery_monitor {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: background-color 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.itape_gallery_monitor._show {
    background: rgba(0, 0, 0, 0.75);
}

.igm_shadow {
    /* background: #ffff0069; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.igm_monitor {
    /* background: #1d00ff69; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.igm_monitor img {
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    opacity: 0;
    box-shadow: 0px 0px 80px -5px rgba(0, 0, 0, 0.32);
    -webkit-transition: opacity 0.3s ease-out 0s;
    -moz-transition: opacity 0.3s ease-out 0s;
    -o-transition: opacity 0.3s ease-out 0s;
    transition: opacity 0.3s ease-out 0s;
}

.imt_nav {
    /* background: #000000; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 76px;
    margin: auto;
}

.imt_nav span {
    width: 44px;
    height: 76px;
    position: absolute;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    -webkit-mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="76"> <path fill="rgb(255, 255, 255)" fill-rule="evenodd" d="M43.985 70.304l-5.698 5.681L5.89 43.681l-.177.177-5.698-5.681L.193 38l-.178-.177 5.698-5.681.177.177L38.287.015l5.698 5.681L11.587 38l32.398 32.304z"/> </svg>') center center/contain no-repeat;
    mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="76"> <path fill="rgb(255, 255, 255)" fill-rule="evenodd" d="M43.985 70.304l-5.698 5.681L5.89 43.681l-.177.177-5.698-5.681L.193 38l-.178-.177 5.698-5.681.177.177L38.287.015l5.698 5.681L11.587 38l32.398 32.304z"/> </svg>') center center/contain no-repeat;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-out 0s;
    -moz-transition: opacity 0.3s ease-out 0s;
    -o-transition: opacity 0.3s ease-out 0s;
    transition: opacity 0.3s ease-out 0s;
}

.imt_nav span:hover {
    background-color: #ffff80;
}

.itape_gallery_monitor._show .imt_nav span,
.itape_gallery_monitor._show del {
    opacity: 1;
}

.itape_gallery_monitor._show .igm_monitor img._show {
    opacity: 1;
}

.igm_monitor.ncli_tinter:after {
    display: none;
}

.igm_monitor.ncli_tinter:before {
    margin: auto;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.imt_nav span.itn_right {
    left: auto;
    right: 20px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: 'FlipH';
}


.itape_gallery_monitor del {
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 13;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: background-color 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
    -moz-transition: background-color 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
    -o-transition: background-color 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
}

.itape_gallery_monitor del:before {
    content: '';
    max-width: 27px;
    max-height: 27px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    -webkit-mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"> <path fill="rgb(255,255,255)" fill-rule="evenodd" d="M29.998 27.813l-2.185 2.185L15 17.185 2.187 29.998.002 27.813 12.815 15 .002 2.187 2.187.002 15 12.815 27.813.002l2.185 2.185L17.185 15l12.813 12.813z"/> </svg>') center center/contain no-repeat;
    mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"> <path fill="rgb(255,255,255)" fill-rule="evenodd" d="M29.998 27.813l-2.185 2.185L15 17.185 2.187 29.998.002 27.813 12.815 15 .002 2.187 2.187.002 15 12.815 27.813.002l2.185 2.185L17.185 15l12.813 12.813z"/> </svg>') center center/contain no-repeat;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.itape_gallery_monitor del:hover {
    background-color: rgb(255, 0, 0);
}

@media ( max-width: 820px ) {
    .igm_monitor {
        padding: 20px;
    }
}

.br_comment .brc_af + .brc_af {
    margin-top: 10px;
}

[data-rating] .brca_title {
    font-weight: bold;
    margin-right: 0;
}

[data-rating] .brca_title:after {
    content: ':';
}

.br_comment .brc_af .brca_title + .brca_value {
    font-style: oblique;
}

.sort_and_filter_empty {
    font-style: oblique;
    margin-top: 20px;
}